body {
  text-align: center;
  background-color: honeydew;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
}
button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid;
  background-color: palegreen;
}
button:hover:enabled {
  padding: 15px 25px;
}
#restart {
  margin-left: 20px;
  background-color: navajowhite;
  color: brown;
  font-weight: bold;
}